<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    {% load staticfiles %}
    <title>股票舆情监控系统</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/article.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<body>
{% include 'indexnav.html' %}
<div class="container" style="min-height: 500px;">
    {% if article %}
<div class="mod-head">
    <h2 class="text-center">{{article.title}}</h2>
    <p class="text-center">{{article.date}}</p>
</div>

    <div class="mod-body" >{{article.content}}</div>
    {% else %}
    <h2>没有该文章</h2>
    {% endif %}
</div>

{% include 'footer.html' %}
</body>
</html>