<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    {% load staticfiles %}
    <title>股票舆情监控系统</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/comother.css" %}" rel="stylesheet" />
    <script src="{% static "js/jquery-1.11.3.js" %}" /></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
{% include 'indexnav.html' %}
<div class="container">
    <div class="col-md-1">
        <nav id="leftnav">
            <ul>

                <li><a href="#basic">基本资料</a></li>
                <li><a href="#ipo">发行上市</a></li>
                <li><a href="#company">关联企业</a></li>

            </ul>
        </nav>
    </div>
    <div class="col-md-11">

        <h3>{{company.name}}公司介绍</h3>
        <a href="{% url 'viewcompany' company.stockno %}">返回</a><br/><br/>
        {% autoescape off %}
        {{company.intro}}
        {% endautoescape %}
        </div>


</div>
{% include 'footer.html' %}
</body>
</html>