<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    {% load staticfiles %}
    <title>股票舆情监控系统</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/company.css" %}" rel="stylesheet" />
    <script src="{% static "js/jquery-1.11.3.js" %}" /></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "echarts/build/dist/echarts.js" %}"></script>
    <link rel="stylesheet" media="screen" type="text/css" href="{% static "css/datepicker.css" %}" />
    <script type="text/javascript" src="{% static "js/datepicker.js" %}" ></script>

</head>
<body>
{% include 'indexnav.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <nav id="leftnav">
                <ul>
                    <li><a href="{% url 'comintro' company.stockno%}">公司介绍</a></li>
                    <li><a href="{% url 'comfinance' company.stockno%}">财务信息</a></li>
                    <li><a href="#index">舆情指数</a></li>
                    <li><a href="#event">舆情热点</a></li>
                    <li><a href="#new">热门新闻</a></li>
                    <li><a href="#attention">个股提醒</a></li>
                </ul>
            </nav>
            </div>

<div class="col-md-11">
    <br/>
    {% if company %}
    <div class="row">
        <div class="col-md-4 ">
        <h1>{{ company.name }}</h1>
    </div>

    </div>

    <div class="row">
        <div id="index" class="mod-head">
        <h3>舆情指数与相关统计</h3>
        </div>
        <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <label>选择舆情指数与相关统计信息查询时段：</label><br/>
            <label>起始日期：</label><input id="startdate" value="2015-04-01"/><br/>
            <label>终止日期：</label><input id="enddate" value="2015-07-01"/><br/>
            <a id="getpiechart" type="button" class="btn btn-primary" >查询</a>
        </div>
            </div>
        <br/>
        <div id="lineplot" style="height: 400px;">
        </div>
        <div id="eventstipsdiv" style="display: none;">

        </div>
        <br/>
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-8">
                <div id="piechart" style="height: 400px;">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="event" class="mod-head">
        <h3>热点舆情</h3>
        </div>


        <div class="row">

        {% if event_list %}
            <table class="table text-center table-striped" >
        {% for event in event_list %}
      <tr>
          <td>
              <a href="{% url 'viewevent' event.id %}">{{ event.title }}</a>
          </td>
          <td>
              阅读数：{{event.click}}，
              回复数：{{event.reply}}，
              日期：{{event.date|date:"Y-m-d"}}，
              来源：{{event.source}}
          </td>
      </tr>



        {% endfor %}
                </table>
        {% else %}
        <p>没有舆情事件</p>
        {% endif %}
        </div>

    </div>

    <div class="row">
        <div id="new" class="mod-head">
        <h3>热点新闻</h3>
            </div>
        {% if new_list %}
        <table class="table text-center table-striped" >
        {% for new in new_list %}

            <tr>
        <td>
            <a href="{% url 'viewnew' new.id %}">{{ new.title }}</a>
        </td>
       <td>
           阅读数：{{new.click}}，
           回复数：{{new.reply}}，
           日期：{{new.date|date:"Y-m-d"}}，
           来源：{{new.source}}
       </td>
            </tr>
        {% endfor %}
            </table>
        {% else %}
        <p>没有热门新闻</p>
        {% endif %}
    </div>

    <div class="row">
        <div id="attention" class="mod-head">
        <h3>个股提醒</h3>

            </div>
        <h4>{{company.attentionreason}}</h4>
        </div>

    {% else %}
    <div>
        没有该公司信息
        </div>
    {% endif %}
</div>

    </div>
</div>
{% include 'footer.html' %}

<script type="text/javascript">

    $(document).ready(function () {
        $('#startdate').DatePicker({
            format:'Y-m-d',
            date: $('#startdate').val(),
            current: $('#startdate').val(),
            starts: 1,
            position: 'right',
            onBeforeShow: function(){
                $('#startdate').DatePickerSetDate($('#startdate').val(), true);
            },
            onChange: function(formated, dates){
                $('#startdate').val(formated);
                if ($('#closeOnSelect input').attr('checked')) {
                    $('#startdate').DatePickerHide();
                }
            }
        });

        $('#enddate').DatePicker({
            format:'Y-m-d',
            date: $('#enddate').val(),
            current: $('#enddate').val(),
            starts: 1,
            position: 'right',
            onBeforeShow: function(){
                $('#enddate').DatePickerSetDate($('#enddate').val(), true);
            },
            onChange: function(formated, dates){
                $('#enddate').val(formated);
                if ($('#closeOnSelect input').attr('checked')) {
                    $('#enddate').DatePickerHide();
                }
            }
        });
    });


    function drawpiechart() {
        mypieChart.showLoading({
            text:"图表数据正在努力加载..."
        });
        pieoptions={
            title : {
                text: '各类舆情偏向占比',
                x:'left'
            },
            legend:{
                data:[],
                x:'center'

            },
            calculable : true,
            series :[]
        };
        $.ajax({
            type:"get",
            async:true,
            url:'{% url 'complotdata' %}',
            dataType:"json",
            data:{stockno:'{{company.stockno}}',type:'pie',sta:$('#startdate').val(),end:$('#enddate').val()},
            success: function (result) {
                if(result){

                    pieoptions.series = result.series;
                    pieoptions.legend.data = result.legend;
                    mypieChart.hideLoading();
                    mypieChart.setOption(pieoptions);
                }
            }
        });
    }

    function drawlineplot(){
        myChart.showLoading({
            text:"图表数据正在努力加载..."
        });
        options = {
            title : {
                text: '{{ company.name }}舆情指数与股价变化对比',
                x: 'center'
            },
            tooltip : {
                trigger: 'axis'
            },
            dataZoom: {
                show: true,
                start : 2
            },
            legend: {
                data:[],
                x:'left',
                selected:{
                    '舆情指数':true,
                    '股价':false
                }
            },
            toolbox: {
                show : true

            },

            xAxis : [
                {
                    type : 'category',
                    data:[]


                }
            ],
            yAxis : [
                {
                    name:'舆情指数',
                    type : 'value',
                    max:1
                },
                {
                    name:'股价(元)',
                    type:'value'
                }
            ],
            series : []


        };
        $.ajax({
            type:"get",
            async:true,
            url:'{% url 'complotdata' %}',
            dataType:"json",
            data:{stockno:'{{company.stockno}}',type:'line',sta:$('#startdate').val(),end:$('#enddate').val()},
            success: function (result) {
                if(result){
                    //将返回的category和series对象赋值给options对象内的category和series
                    //因为xAxis是一个数组 这里需要是xAxis[i]的形式
                    options.xAxis[0].data=result.category;
                    options.series = result.series;
                    options.legend.data = result.legend;
                    myChart.hideLoading();
                    myChart.setOption(options);
                    var ecConfig=require('echarts/config');
                    myChart.on(ecConfig.EVENT.HOVER,lineclick);
                }
            }
        });
    }

    $(document).ready(function () {
        $("#getpiechart").click(function () {
            drawpiechart();
            drawlineplot();

        });






    });

    // 路径配置
    require.config({
        paths: {
            echarts: "{% static "echarts/build/dist" %}"
        }
    });

    // 使用
    require(
            [
                'echarts',
                'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/pie'

            ],
            function (ec) {
                initlineplot(ec);
                initpiechart(ec);


            }
    );


    function initlineplot(ec){
        // 基于准备好的dom，初始化echarts图表
         myChart = ec.init(document.getElementById('lineplot'));
        drawlineplot();
    }

    function initpiechart(ec){
        mypieChart = ec.init(document.getElementById('piechart'));

        drawpiechart();



    }

    $(document).ready(function () {
        lastxAxis=0;
    });
    function lineclick(param){
        var xAxis=param.data.xAxis;
        if(xAxis==lastxAxis)
            return;
        else
            lastxAxis=xAxis;
        var stockno="{{company.stockno}}";
        $.get("{% url 'eventstipslist'%}",{
        'xAxis':xAxis,
        'stockno':stockno,
        'count':'4'
        }, function (response) {
            result=eval(response);

            $("#eventstipsdiv").fadeOut(0, function () {
                $("#eventstipsdiv").html("");
                if(result.length!=0)
                {
                    $("#eventstipsdiv").append("<h4>"+xAxis+"关联事件：</h4>");
                    $("#eventstipsdiv").append("<table class='table table-striped'></table>");
                }
                $.each(result, function () {
                    var ele=$("<a></a>").text(this.title);
                    ele.attr("href","{% url 'Dviewevent' %}"+this.id);
                    var td=$("<td></td>");
                    td.append(ele);
                    var tr=$("<tr></tr>");
                    tr.append(td);
                    td=$("<td></td>");
                    td.text("阅读数："+this.click+"，回复数："+this.reply+"，来源："+this.source);
                    tr.append(td);
                    $("#eventstipsdiv table").append(tr);
                });
                $("#eventstipsdiv").fadeIn(1000);
            });


        })


    }
</script>
</body>
</html>