<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    {% load staticfiles %}
    <title>股票舆情监控系统</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<body>
{% include 'indexnav.html' %}

<div class="container" style="min-height: 500px;">
    <div class="row">
        <h1 class="text-center">热门舆情事件</h1>
        <div class="text-center" style="max-width:750px;margin: auto;">

            {% if event_list %}
            <table class="table text-center table-striped" >
            {% for event in event_list %}
                <tr>
                    <td>
            <a href="{% url 'viewevent' event.id %}">{{ event.title }}</a>
                </td>
        <td>

            {{event.date|date:"Y-m-d"}}
        </td>
                    </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>没有舆情事件</p>
            {% endif %}
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>