<!DOCTYPE html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    {% load staticfiles %}
    <title>股票舆情监控系统</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<body>
{% include 'indexnav.html' %}
<div class="container text-center">
    <div class="row">
        {% if company_list %}
        <ul>
            {% for company in company_list %}
            <li><a  class="text-left" href="{% url 'viewcompany' company.stockno %}">{{ company.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>数据库中没有相关的公司</p>
        {% endif %}
    </div>
    </div>
</body>
</html>