<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    {% load staticfiles %}
    <title>股票舆情监控系统</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<body>
{% include 'indexnav.html' %}

<div class="container" style="min-height: 500px;">
    <div class="row">
        <h1 class="text-center">热门舆情事件</h1>
        <div class="text-center" style="max-width:750px;margin: auto;">

            {% if event_list %}
            <table class="table text-left table-striped" >

                {% for event in event_list %}
                <tr>
                    <td style="width: 80px">
                        {{event.comname}}
                    </td>
                    <td style=" text-overflow:ellipsis">
                        <a  class="text-left" href="{% url 'viewevent' event.id %}">{{ event.title }}</a>
                    </td>
                    <td style="width: 120px">
                        关注度：{{event.click}}
                    </td>
                    <td style="width: 110px">
                        情感度：
                        {% ifequal event.mood 1 %}
                        正向
                        {% endifequal %}
                        {% ifequal event.mood 0 %}
                        中性
                        {% endifequal %}
                        {% ifequal event.mood -1 %}
                        负向
                        {%endifequal%}
                    </td>
                    <td style="width: 150px">
                        日期：{{event.date|date:"Y-m-d"}}
                    </td>
                </tr>

                {% endfor %}
            </table>
            {% else %}
            <p>没有可供展示的舆情事件</p>
            {% endif %}

        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>