<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    <title>股票舆情监控系统</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
    <script src="static/js/jquery-1.11.3.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
{% include 'indexnav.html' %}


<div class="container">
    <div class="row">
    <div class="col-md-12" height="200px">
    <h1 class="text-center">股票舆情监控系统</h1>
    </div>
        </div>

        <div id="searchbox" class="row">

            <div class="col-md-6 col-xs-6 col-md-offset-2 col-xs-offset-2">
                <input  type="text" class="form-control"  id="name"
                         placeholder="请输入股票名称或股票代码">
            </div>
            <div class="col-md-4 col-xs-4 ">
            <a id="searchbtn" type="button" class="btn btn-primary" >进入</a>
                </div>

           </div>
    <div  id="display" class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="row">
                <h3>Top10信誉度排名公司</h3>
                {% if topcredit_list %}

                    {% for company in topcredit_list %}

                 <a class="col-md-6 col-sm-6 col-sm-6 text-left" href="{% url 'viewcompany' company.stockno %}">{{ company.name }}</a>

                {% if company.creditchange < 0 %}

                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                <!--span>（上升{{company.creditchange }}名）</span-->
                {% elif company.creditchange > 0 %}
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                <!--span>（下降{0-{ company.creditchange }}名）</span-->
                {% else %}
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <!--span>（名次不变）</span-->
                {% endif %}
                <span class="col-md-5 col-sm-5 col-sm-5 text-right">排名第{{company.creditorder }}名</span>

                <br/>
                    {% endfor %}

                {% else %}
                <p>没有信誉度前10公司列表</p>
                {% endif %}

            </div>
            <div class="row">
                <h3>预警信息</h3>
                {% if attention_list %}

                    {% for company in attention_list %}
                <a class="col-md-12 col-sm-12 col-sm-12 text-left" href="{% url 'viewcompany' company.stockno %}">{{ company.name }}
                {% if company.creditchange < 0 %}


               信誉度排名上升{% widthratio company.creditchange 1 -1 %}名
                {% elif company.creditchange > 0 %}
               信誉度排名下降{% widthratio company.creditchange 1 1 %}名
                {% else %}

               信誉度排名不变
                {% endif %}
                </a>
                <br/>
                    {% endfor %}

                {% else %}
                <p>No polls are available.</p>
                {% endif %}
                    </div>


        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div>
                <h3>Top10舆情事件</h3>
                {% if topevent_list %}
                <ul>
                    {% for event in topevent_list %}
                    <li><a  class="text-left" href="{% url 'events' event.id %}">{{ event.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}
            </div>
            <div>
                <h3>Top10热门新闻</h3>
                {% if topnew_list %}
                <ul>
                    {% for new in topnew_list %}
                    <li><a class="text-left" href="{% url 'news' new.id %}">{{ new.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}
            </div>
        </div>

    </div>


</div>
<footer>
    <div class="container">
        Power by DBlab
    </div>

</footer>
</body>
</html>