<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    {% load staticfiles %}
    <title>股票舆情监控系统</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<body>
{% include 'indexnav.html' %}

<!--开头大标题与搜索框-->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12" height="200px">
                <h1 class="text-center">股票舆情监控系统</h1>
            </div>
        </div>

        <div id="searchbox" class="row">

            <div class="col-md-6 col-xs-6 col-md-offset-2 col-xs-offset-2">
                <input  type="text" class="form-control"  id="searchtext"
                        placeholder="请输入股票名称或股票代码">
            </div>
            <div class="col-md-4 col-xs-4 ">
                <a id="searchbtn" type="button" class="btn btn-primary" >搜索</a>
            </div>

        </div>

    </div>

</div>

<div class="container">
    <div id="indexgraph">
        <img  src="{% static "img/index-featrue.png" %}">
    </div>
    <div  id="display" class="row">


        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <h3>信誉排名</h3>

                {% if topcredit_list %}
                <table class="table text-center table-striped" >
                {% for company in topcredit_list %}
                <tr>
                    <td class="text-left" style="padding-left: 10px">
                        <a  href="{% url 'viewcompany' company.stockno %}">{{ company.name }}</a>
                    </td>
                    <td class="text-left">
                        <span >{{company.creditorder }}</span>
                        {% if company.creditchange < 0 %}

                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        <span>（近期排名变化上升{% widthratio company.creditchange -1 1%}名）</span>
                        {% elif company.creditchange > 0 %}
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        <span>（近期排名变化下降{{ company.creditchange }}名）</span>
                        {% else %}
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <span>（近期排名名次不变）</span>
                        {% endif %}
                    </td>
                </tr>





                {% endfor %}
                </table>
                {% else %}
                <p>没有信誉度前10公司列表</p>
                {% endif %}
                <div style="width: 100%" class="text-right">
        <a class="more" href="{% url 'indexcreditorders' %}"  >更多</a>
                </div>
            </div>
            <div class="col-md-6  col-sm-6 col-xs-12 text-center">
                <h3>舆情热点</h3>
                {% if topevent_list %}
                <table class="table text-left table-striped" >

                    {% for event in topevent_list %}
                    <tr>
                        <td style="width: 80px">
                            {{event.comname}}
                        </td>
                        <td style=" text-overflow:ellipsis">
                            <a  class="text-left" href="{% url 'viewevent' event.id %}">{{ event.title }}</a>
                        </td>
                        <td style="width: 120px">
                           关注度：{{event.click}}
                        </td>
                        <td style="width: 120px">
                            情感度：
                            {% ifequal event.mood 1 %}
                            正向
                            {% endifequal %}
                            {% ifequal event.mood 0 %}
                            中性
                            {% endifequal %}
                            {% ifequal event.mood -1 %}
                            负向
                            {%endifequal%}
                        </td>
                    </tr>

                    {% endfor %}
               </table>
                {% else %}
                <p>没有可供展示的舆情事件</p>
                {% endif %}
                <div style="width: 100%" class="text-right">
                    <a class="more" href="{% url 'indexevents' %}"  >更多</a>
                </div>
            </div>


        </div>
        <hr />
        <div class="row">
            <div class="col-md-6  col-sm-6 col-xs-12 text-center">
                <h3>舆情预警</h3>
                {% if attention_list %}
                <table class="table text-center table-striped" >
                {% for company in attention_list %}
                    <tr>
                        <td class="text-left" style="width: 80px">
                            {{company.name}}
                        </td>
                        <td>
                            <a class="col-md-12 col-sm-12 col-xs-12" href="{% url 'viewcompany' company.stockno %}">{{ company.name }}
                               {{company.attentionreason}}
                            </a>
                        </td>
                    </tr>





                {% endfor %}
                </table>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}
                <div style="width: 100%" class="text-right">
                    <a class="more" href="{% url 'indexattentions' %}"  >更多</a>
                </div>
                </div>
            <div class="col-md-6  col-sm-6 col-xs-12 text-center">
                <h3>热门新闻</h3>
                {% if topnew_list %}
                <table class="table text-center table-striped" >

                    {% for new in topnew_list %}
                    <tr>
                        <td style="width: 80px">
                            {{new.comname}}
                        </td>
                        <td>
                            <a class="text-left" href="{% url 'viewnew' new.id %}">{{ new.title }}</a>
                        </td>
                        <td style="width: 120px">
                            来源：{{new.source}}
                        </td>
                    </tr>

                    {% endfor %}
               </table>
                {% else %}
                <p>没有可供展示的热门新闻</p>
                {% endif %}
                <div style="width: 100%" class="text-right">
                    <a class="more" href="{% url 'indexnews' %}" >更多</a>
                </div>
                </div>
        </div>


    </div>


</div>
{% include 'footer.html' %}
<script>
    $(document).ready(function () {
        $("#searchbtn").click(function () {
            window.location.href="{% url 'indexsearch'%}"+"?item="+$("#searchtext").val();
        });
        $("#searchtext").bind("keyup", function (event) {
           if(event.keyCode=="13"){
               window.location.href="{% url 'indexsearch'%}"+"?item="+$("#searchtext").val();
           }
        });
    });
</script>
</body>
</html>